* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    /* Font goes here */
}

nav {
    /* border: 5px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

#nav-left {
    /* border: 5px solid blue; */
    flex-grow: 1;
    width: 100%;
}

#nav-logo img {
    /* border: 5px solid green; */
    height: 100px;
    margin: 0 40px;
}

#nav-right {
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

nav ul {
    /* border: 5px solid green; */
    display: flex;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li a {
    color: white;
}

#nav-social-icons {
    /* border: 5px solid green; */
    display: flex;
    align-items: center;
    margin: 0 15px;
}

#nav-social-icons svg {
    margin: 0 6px;
}

main {
    display: flex;
    flex-direction: column;
}

/* MAIN BUTOTN $$$$$$$$$ */
button {
    border: 2px solid orange;
    background: transparent;
    padding: 15px 25px;
    color: orange;
}

button:hover {
    background-color: rgb(32, 31, 31);
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: rgb(32, 31, 31);
}


/* •••••••••••••••••• HERO SECTION •••••••••••••••••• */
#hero-section {
    /* border: 3px solid red; */
    width: 100%;
    height: 100vh;
}

#hero-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* •••••••••••• SECTION 1 •••••••••••• */
#section-1 {
    /* border: 3px solid blue; */
    background-color: #eeeff0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

#section-1-left {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#section-1-left h2 {
    text-align: center;
    max-width: 400px;
    font-size: 40px;
}

#section-1-right {
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#section-1-right p {
    width: 90%;
    margin: 10px 0;
}

#section-1-right button {
    position: relative;
    top: 10px;
}

/* •••••••••••• SECTION 2 •••••••••••• */
#section-2 {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

#section-2-left {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#section-2-left img {
    height: 500px;
}

#section-2-right {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

#section-2-right p,
#section-2-right h3 {
    width: 60%;
    margin: 20px;
}

#section-2-right h3 {
    margin-bottom: 0;
}

#section-2-right button {
    position: relative;
    left: 21.5%;
}


/* •••••••••••• SECTION 3 ••••••••••••  */

#section-3 {
    background-color: #eeeff0;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

#section-3 img {
    margin: 15px;
    max-height: 400px;
}

.section-3-text {
    color: #eeeff0;
    position: relative;
    left: 30px;
    top: 250px;
    font-size: 20px;
}


/* •••••••••••• SECTION 4 •••••••••••• */

#section-4 {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
}

#section-4-dow {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

.section-4-dow-samlls {
    margin: -10px 15px;
}

hr {
    color: rgba(209, 208, 208, 0.442);
    position: relative;
    top: 50px;
    /* left: -20px; */
    width: 30vw;
}


/* •••••••••••• SECTION 5 •••••••••••• */

#section-5 {
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

#section-5 img {
    background-color: rgba(209, 208, 208, 0.515);
    padding: 30px;
    margin-right: 5%;
    height: 600px;
    width: 350px;
    object-fit: cover;
}

#section-5-left {
    /* border: 5px solid green;     */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    width: 100vw;
    height: 100%;
}

#section-5-right {
    /* border: 5px solid firebrick;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    flex-grow: 1;
    width: 100vw;
    height: 100%;
}

#section-5-right p,
h3 {
    width: 90%;
}

#section-5-right h4 {
    position: relative;
    left: -40%;
}


/* •••••••••••• SECTION 6 •••••••••••• */

#section-6 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 530px;
    margin-bottom: 60px;
}

#section-6 img {
    width: 100%;
    height: auto;
}

#section-6-text {
    text-align: center;
    position: relative;
    color: #eeeff0;
    top: -50%;
}

#section-6-text button {
    color: #eeeff0;
    border: 1px solid #eeeff0;
}

#section-6-fallow {
    margin-top: -80px;
}


/* •••••••••••••••••• FOOTER SECTION •••••••••••••••••• */

footer {
    /* border: 10px solid blue; */
    background-color: rgba(209, 208, 208, 0.515);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

#footer-icons {
    display: flex;
}

#footer-icons svg {
    margin: -5px 5px;
}